---
import { type CollectionEntry, render, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import { SITE_TITLE } from "../../consts";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  // if post is valid
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
  // else get 404
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { slug } = Astro.params;
const { Content } = await render(post);

const breadcrumbItems = [
  { label: "Home", href: "/" },
  { label: "Blog", href: "/blog" },
  { label: slug, href: `/blog/${slug}` },
];
---
<BaseLayout title={`${slug} | ${SITE_TITLE}`} description={slug}>
  <Breadcrumb items={breadcrumbItems} />
  <article class="relative mt-8">
    <h1 class="mb-8 text-3xl font-bold">{slug}</h1>
    <div>
      <Content />
    </div>
  </article>
</BaseLayout>