---
import { type CollectionEntry, render, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import { SITE_TITLE } from "../../consts";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  // if post is valid
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
  // else get 404
}

type Props = { post: CollectionEntry<"blog"> };

const { post: entry } = Astro.props;
const { slug } = Astro.params;
const { Content } = await render(entry);

const breadcrumbItems = [
  { label: "Home", href: "/" },
  { label: "Blog", href: "/blog" },
  { label: entry.data.title, href: `/blog/${slug}` }, // Use post title for label
];
---
<BaseLayout title={`${entry.data.title} | ${SITE_TITLE}`} description={entry.data.description || entry.data.title}>
  <Breadcrumb items={breadcrumbItems} />
  <article class="relative mt-8">
    <h1 class="mb-8 text-3xl font-bold">{entry.data.title}</h1>
    <div class="prose dark:prose-invert lg:prose-lg prose-headings:scroll-mt-20 prose-headings:relative prose-headings:group prose-a:text-primary hover:prose-a:text-primary/80 max-w-none">
      <Content />
    </div>
  </article>
</BaseLayout>