---
import { SITE_DESCRIPTION, SITE_HOME_POSTS_PER_PAGE, SITE_TITLE } from "../consts";
import { getValidBlogPosts } from "../lib/utils";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProfileCard from "../components/ProfileCard.astro";
import BlogPostList from "../components/BlogPostList.astro";

const validPosts = await getValidBlogPosts(SITE_HOME_POSTS_PER_PAGE);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <ProfileCard />
    <section class="mt-16" aria-labelledby="recent-posts-heading">
        <h2 id="recent-posts-heading" class="mb-8 text-2xl font-bold">Recent Posts</h2>
        <BlogPostList posts={validPosts} postsPerPage={SITE_HOME_POSTS_PER_PAGE} showSeeMore={true} />
    </section>
</BaseLayout>